body {
  font-family: sans-serif;
  font-size: 110%;
  background-color: #fcf7f8;
}

header {
  text-align: center;
  background-color: #343330;
  color: #fcf7f8;
}

footer {
  background-color: #343330;
  text-align: center;
}

aside {
  background-color: aqua;
  width: 15%;
}
