body {
  font-family: monospace;
  font-size: 110%;
  background-color: #fcf7f8;
}

header {
  text-align: center;
  background-color: #343330;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}

.main-content {
    margin-left: 10%;
}

footer {
  background-color: #343330;
  text-align: center;
  color: white;
}

.menu {
  background-color: #45462a;
  width: 15%;
  color: white;
  padding: 0.2%;
  margin-top: 2%;
}

.noBullets {
  list-style-type: none;
}

.contacts {
  font-size: 6rem;
}

.myImg {
  width: 150px;
  height: 200px;
  border-radius: 20%; 
}

.menu-item {
    color: white;
}
